<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="chartContainer">
  <canvas id="myChart"></canvas>
</div>
<button *ngIf="!isSorting" (click)="sort()">Sort</button>
<button *ngIf="isSorting" (click)="stop()">Stop</button>
<button (click)="generate()">Generate Array</button>

<router-outlet></router-outlet>
