@import '../../../variables.scss';

.chartContainer {
  margin-bottom: 20px;
}

@media screen and (max-width: $medium-screen-size) {
  .chartContainer {
    width: calc(100% - 25px);
    margin-left: auto;
    margin-right: auto;
    height: 450px;
  }
}

@media screen and (min-width: $medium-screen-size) {
  .chartContainer {
    width: 1200px;
    height: 600px;
    margin-left: 10px;
  }
}

.selectArrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  margin: 0 4px;
}

.selectAlgoButton {
  background-color: blueviolet;
  color: white;
  width: 120px;
}

.example-flex-container {
  margin-left: 30px;
  width: 320px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
